@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}
